@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Slab";
}

.logo {
    width: 112px;
    height: 66px;
    position: fixed;
    top: 0px;
    background-color: aquamarine;
}


.wrapper,
.wrapper-2 {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}


.first-page {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ul1 {
    display: flex;
    justify-content: flex-start;

}

.li1 {
    list-style-type: none;
    padding-right: 4%;
    font-size: 20px;
    width: 160px;
    height: 35px;
}

.first-page-second {
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
}

.first-page-second-first h1 {
    width: 628px;
    height: 190px;
    font-size: 80px;
    Line-height: 81px;
}

.first-page-second-first p {
    width: 414px;
    height: 62;
    Font-size: 20px;
    Line-height: 30px;
}

.first-page-third {
    margin-top: 67px;
    width: 483px;
    height: 120px;
    background-color: #1E4681;
    color: #FFFFFF;
    padding: 19px 26px 60px 26px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.first-page-third-p1 {
    Font-size: 25px;
    Line-height: 32px;
    /* text-align-last:right ; */
}

.first-page-third-p2 {
    Font-size: 20px;
    Line-height: 26px;
    text-align: right;

}

.second-page {
    margin-top: 100px;
}

.second-page-first h2 {
    font-size: 55px;
    line-height: 56px;
}

.second-page-second {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.second-page-second-first p {
    width: 662px;
    height: 374px;
    font-size: 24px;
    line-height: 36px;
    text-align: justify;
}

.second-page-second-second img {
    width: 366px;
    height: 344px;
}

.second-page-third {
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;

}

.second-page-third.first img {
    width: 232px;
    height: 219px;
}

.second-page-third-second {
    margin: auto;

}

.second-page-third-second .ul2 {
    display: flex;
}

.second-page-third-second .li2 {
    list-style-type: none;
    width: 150px;
    font-size: 18px;
    margin-right: 100px;

}

.second-page-third-second .li2 strong {
    font-size: 25px;
}

.third-page {
    margin-top: 160px;
}

.third-page h2 {
    font-size: 55px;
    line-height: 56px;
}

.third-page .ul3 {
    margin-top: 80px;
    display: flex;
}

.third-page .li3 {
    list-style-type: none;
    font-size: 18px;
    line-height: 23px;
    width: 20%;
    margin-right: 10%;
}

.third-page .li3 strong {
    font-size: 25px;
    line-height: 32px;
    color: #1E4681;

}

.fourth-page {
    margin-top: 200px;
}


.fourth-page h2 {
    font-size: 55px;
}

.fourth-page .ul4 {
    margin-top: 30px;
    width: 662;
    height: 374;
}

.fourth-page .li4 {
    list-style-position: inside;

    font-size: 24px;
    line-height: 36px;
}

.fifth-page {
    margin-top: 240px;
    width: 100%;

}

.fifth-page h2 {
    font-size: 55px;
}

.fifth-page-second {
    margin-top: 95px;
    display: flex;
    flex-wrap: wrap;
}

/* .fifth-page-second img {
    width: 350px ;
    height: 320px;
} */

.fifth-page-second-first {
    width: 300px;
    height: 260px;
    /* border-style: dotted; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    margin-right: 20px;
    margin-bottom: 3%;
    /* overflow: hidden; */
}


.fifth-page-second-first img {
    width: 300px;
    height: 110px;
}

.fifth-page-second-first .fifth-page-second-p1 {
    margin-top: 5%;
    font-size: 20px;
    margin-left: 5%;
    font-weight: bold;
}

.fifth-page-second-first .fifth-page-second-p2 {
    margin-top: 5%;
    font-size: 18px;
    margin-left: 5%;
}


#six-page-bg {
    background-color: #EFEFEF;
}

.six-page {
    margin-top: 120px;
    padding: 90px 0 110px 0;
    /* width: 120%; */
    box-sizing: border-box;
}

.six-page h2 {
    font-size: 55px;
    -top: 90px;

}

.six-page-first {
    margin-top: 40px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.six-page-first-first {
    font-size: 20px;
    line-height: 30px;
}

.six-page-second {
    display: flex;
    justify-content: flex-start;
}

.six-page-second-first img {
    width: 190px;
    height: 169px;
}

.six-page-second-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.six-page-second-second img {
    width: 32px;
    height: 31px;
}

.six-page-second-second p {
    /* width: 353px; */
    height: 59px;
    font-size: 30px;
    line-height: 30px;
}

#seventh-page {
    background-color: #9DC9C8;
}

.seventh-page {
    padding: 179px 0 185px 0;
    /* width: 120%; */
    box-sizing: border-box;
}

.seventh-page-first h2 {
    font-size: 55px;
}

.seventh-page-second {
    margin-top: 54px;
    display: flex;
    flex-direction: column;
}

.seventh-page-second-p1 {
    font-size: 25px;
}

.seventh-page-second-p2 {
    font-size: 80px;
    position: relative;
    bottom: 20px;
}

.seventh-page-third .ul5 {
    display: flex;
    justify-content: flex-start;
}

.seventh-page-third .li5 {
    list-style-type: none;
    list-style-position: inside;
    font-size: 18px;
    margin-right: 20%;
}

.seventh-page-third .li5 .span5 {
    font-size: 25px;
}

#ninth-page {
    background-color: black;
}

.ninth-page {
    padding: 50px 0 20px 0;
    color: white;
    height: 390px;
    /* width: 120%; */
    box-sizing: border-box;
}

.ninth-page-first {
    display: flex;
    justify-content: space-between;
}

.ninth-page-first-first-first img {
    width: 115px;
    height: 68px;

}

.ninth-page-first-first-second {
    margin-top: 20px;
}

.ninth-page-first-first-second img {
    width: 33px;
    height: 33px;
}

.ninth-page-first-second-first {
    display: flex;
}

.ninth-page-first-second-second {
    display: flex;
    margin-top: 10%;

}

.ninth-page-first-second-first-phone-white {
    width: 27px;
    height: 27px;
}

.ninth-page-first-second-second-mail-white {
    width: 27px;
    height: 18px;
}

.ninth-page-first-second-first p {
    margin-left: 10px;
}

.ninth-page-first-second-second p {
    margin-left: 10px;
}

.ninth-page-second p {
    font-size: 16px;
    align-items: flex-end;
    margin-top: 150px;
}

@media (max-width:834px) {

    .logo {
        width: 52px;
        height: 30px;
        position: sticky;
        top: 0px;
        background-color: aqua;
    }

    .wrapper {
        margin: 22px 88px 0px 70px;
    }

    .first-page {
        margin-top: 57px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .ul1 {
        display: flex;
        justify-content: flex-start;

    }

    .li1 {
        list-style-type: none;
        padding-right: 8%;
        font-size: 12px;
        width: 105px;
        height: 18px;
    }

    .first-page-second {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }

    .first-page-second-first h1 {
        width: 363px;
        height: 110px;
        font-size: 46px;
        Line-height: 46px;
    }

    .first-page-second-first p {
        width: 264px;
        height: 36px;
        Font-size: 12px;
        Line-height: 18px;
    }

    .first-page-second-second img {
        width: 176px;
        height: 206px;
    }

    .first-page-third {
        margin-top: 30px;
        width: 280px;
        height: 60px;
        background-color: #1E4681;
        color: #FFFFFF;
        padding: 19px 26px 60px 26px;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .first-page-third-p1 {
        Font-size: 14px;
        Line-height: 18px;
    }

    .first-page-third-p2 {
        Font-size: 14px;
        Line-height: 18px;
        text-align: right;

    }

    .second-page {
        margin-top: 100px;
    }

    .second-page-first h2 {
        font-size: 32px;
        line-height: 32px;
    }

    .second-page-second {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    .second-page-second-first p {
        width: 380px;
        height: 210px;
        font-size: 14px;
        line-height: 21px;
    }

    .second-page-second-second img {
        width: 180px;
        height: 180px;
    }

    .second-page-third {
        margin-top: 100px;
        display: flex;
        justify-content: flex-start;

    }

    .second-page-third-first img {
        width: 130px;
        height: 110px;
    }

    .second-page-third-second .ul2 {
        display: flex;
        justify-content: space-evenly;
        width: 380px;
    }

    .second-page-third-second .li2 {
        list-style-type: none;
        /* width: 90px;
        margin-left: 10%; */
        font-size: 10px;
        width: 50px;
        margin: 0px;

    }

    .second-page-third-second .li2 strong {
        font-size: 15px;
    }

    .third-page {
        margin-top: 100px;
    }

    .third-page h2 {
        font-size: 32px;
        line-height: 56px;
    }

    .third-page .ul3 {
        margin-top: 50px;
        display: flex;
    }

    .third-page .li3 {
        list-style-type: none;
        font-size: 11px;
        line-height: 14px;
        width: 30%;
        margin-right: 10%;
    }

    .third-page .li3 strong {
        font-size: 13px;
        line-height: 14px;
        color: #1E4681;

    }

    .fourth-page {
        margin-top: 100px;
    }


    .fourth-page h2 {
        font-size: 30px;
    }

    .fourth-page .ul4 {
        margin-top: 12px;
        width: 383px;
    }

    .fourth-page .li4 {
        list-style-position: inside;

        font-size: 14px;
        line-height: 21px;
    }

    .fifth-page {
        margin-top: 100px;

    }
    .fifth-page-second-first img {
        width: 300px;
    }

    .fifth-page h2 {
        font-size: 32px;
    }

    .fifth-page-second {
        margin-top: 55px;
        display: flex;
        flex-wrap: wrap;
    }

    /* .fifth-page-second img {
        width: 150px;
        height: 120px;
    } */

    .six-page {
        background-color: #EFEFEF;
        margin-top: 50px;
        padding: 50px 190px 64px 80px;
    }

    .six-page h2 {
        font-size: 32px;
        width: 570px;

    }

    .six-page-first {
        margin-top: 20px;
        background-color: white;
        border-radius: 20px;
        width: 450px;
    }

    .six-page-first-first {
        font-size: 12px;
        line-height: 18px;
    }

    .six-page-second {
        display: flex;
        justify-content: flex-start;
    }

    .six-page-second-first img {
        width: 110px;
        height: 97px;
    }

    .six-page-second-second {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: 17px;
    }

    .six-page-second-second img {
        width: 18px;
        height: 17px;
        position: relative;
        top: -20px;
    }

    .six-page-second-second p {
        width: 200px;
        font-size: 17px;
        font-weight: 700;
    }

    .seventh-page {
        /* margin-top: 64px; */
        background-color: #9DC9C8;
        padding: 103px 230px 107px 70px;
    }

    .seventh-page-first h2 {
        font-size: 32px;
        width: 520px;
    }

    .seventh-page-second {
        margin-top: 26px;
        display: flex;
        flex-direction: column;
    }

    .seventh-page-second-p1 {
        font-size: 14px;
    }

    .seventh-page-second-p2 {
        font-size: 46px;
        position: relative;
        bottom: 10px;
    }

    .seventh-page-third .ul5 {
        display: flex;
        justify-content: flex-start;
    }

    .seventh-page-third .li5 {
        list-style-type: none;
        list-style-position: inside;
        font-size: 10px;
        margin-right: 10%;
        margin-top: 15px;
    }

    .seventh-page-third .li5 .span5 {
        font-size: 14px;
    }

    .ninth-page {
        background-color: black;
        padding: 20px 84px 13px 70px;
        color: white;
        height: 150px;

    }

    .ninth-page-first {
        display: flex;
        justify-content: space-between;
    }

    .ninth-page-first-first-first img {
        width: 66px;
        height: 39px;

    }

    .ninth-page-first-first-second {
        margin-top: 10px;
    }

    .ninth-page-first-first-second img {
        width: 19px;
        height: 19px;
    }

    .ninth-page-first-second-first {
        display: flex;
    }

    .ninth-page-first-second-second {
        display: flex;
        margin-top: 10%;

    }

    .ninth-page-first-second-first-phone-white {
        width: 15px;
        height: 15px;
    }

    .ninth-page-first-second-second-mail-white {
        width: 15px;
        height: 10px;
    }

    .ninth-page-first-second-first p {
        margin-left: 10px;
        font-size: 14px;
    }

    .ninth-page-first-second-second p {
        margin-left: 10px;
        font-size: 14px;

    }

    .ninth-page-second p {
        font-size: 10px;
        font-size: 9px;
        margin-top: 50px;
    }
}

@media (max-width:500px) {

    * {
        box-sizing: border-box;
    }

    .logo {
        margin-top: 10px;
        width: 52px;
        height: 30px;
        position: sticky;
        top: 0px;
        background-color: bisque;
    }

    .wrapper {
        /* margin: 36px 32px 0px 35px; */
        max-width: 375px;
        width: 80%;
        margin: auto;
        /* box-sizing: border-box; */
    }

    .wrapper-2 {
        max-width: 375px;
        width: 80%;
        margin: auto;
        /* box-sizing: border-box; */
    }

    .first-page {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .ul1 {
        display: flex;
        justify-content: flex-start;
        justify-content: space-between;

    }


    .first-page-first {
        margin-top: 44px;
        display: flex;
        flex-direction: row;
    }

    .li1 img {
        width: 10px;
        height: 10px;

    }

    .li1 {
        list-style-type: none;
        font-size: 8px;
        padding:0px;
        width: 80px;
    }

    .first-page-second {
        margin-top: 10px;
        display: block;
    }

    .first-page-second-first h1 {
        width: 290px;
        font-size: 37px;
        Line-height: 37px;
    }

    .first-page-second-first p {
        width: 230px;
        Font-size: 10px;
        Line-height: 14px;

    }

    .first-page-second-second {
        display: block;
        text-align: right;
    }

    .first-page-second-second img {
        width: 140px;
        height: 175px;
        /* position: relative;
        left: 60px; */

    }

    .first-page-third {
        margin-top: 30px;
        width: 190px;
        height: 110px;
        background-color: #1E4681;
        color: #FFFFFF;
        padding: 8px 12px 60px 12px;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .first-page-third-p1 {
        Font-size: 11px;
        Line-height: 14px;
    }

    .first-page-third-p2 {
        Font-size: 10px;
        Line-height: 13px;
        text-align: right;
        position: relative;
        bottom: 15px;


    }

    .second-page {
        margin-top: 75px;
    }

    .second-page-first h2 {
        font-size: 26px;
        line-height: 32px;
    }

    .second-page-second {
        display: block;
        /* justify-content: space-between; */
        margin-top: 20px;
    }

    .second-page-second-first p {
        width: 100%;
        font-size: 11px;
        line-height: 18px;
    }

    .second-page-second-second {
        margin-top: 80px;
        display: flex;
        justify-content: center;
    }

    .second-page-second-second img {
        width: 170px;
        height: 160px;
    }

    .second-page-third {
        margin-top: 45px;
        width: 100%;
        display: flex;
        justify-content: flex-start;

    }

    .second-page-third-second {
        width: 100%;
    }

    .second-page-third-first img {
        display: none;
        /* width: 130px;
        height: 110px; */
    }

    .second-page-third-second .ul2 {
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
    }

    .second-page-third-second .li2 {
        list-style-type: none;
        width: 80px;
        /* margin-left: 10px ; */
        margin-bottom: 20px;
        margin-right: 0px;
        margin-left: 0px;
        font-size: 10px;
        line-height: 16px;

    }

    .second-page-third-second .li2 strong {
        font-size: 12px;
    }

    .third-page {
        margin-top: 70px;
    }

    .third-page h2 {
        font-size: 26px;
    }

    .third-page .ul3 {
        margin-top: 10px;
        display: block;
    }

    .third-page .li3 {
        list-style-type: none;
        font-size: 10px;
        line-height: 13px;
        width: 80%;
        margin-bottom: 25px;
    }

    .third-page .li3 span {
        position: relative;
        bottom: 10px;
    }

    .third-page .li3 strong {
        font-size: 12px;
        line-height: 14px;
        color: #1E4681;

    }

    .fourth-page {
        margin-top: 70px;
    }


    .fourth-page h2 {
        font-size: 26px;
    }

    .fourth-page .ul4 {
        margin-top: 12px;
        width: 100%;
    }

    .fourth-page .li4 {
        list-style-position: inside;

        font-size: 12px;
        line-height: 18px;
    }

    .fifth-page {
        margin-top: 80px;

    }

    .fifth-page-second-first {
        width: 185px;
        height: 152px;
        /* border-style: dotted; */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 30px;
        margin-right: 10px;
        margin-bottom: 5%;
        /* overflow: hidden; */
    }


    .fifth-page-second-first img {
        width: 185px;
        height: 74px;
    }

    .fifth-page-second-first .fifth-page-second-p1 {
        margin-top: 5%;
        font-size: 11px;
        margin-left: 5%;
        font-weight: bold;
    }

    .fifth-page-second-first .fifth-page-second-p2 {
        margin-top: 5%;
        font-size: 8px;
        margin-left: 5%;
    }

    .fifth-page h2 {
        font-size: 26px;
    }

    .fifth-page-second {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* .fifth-page-second img {
        width:185px;
        height:152px;
        position: relative;
        margin-left: 20%;
    } */

    .six-page {
        background-color: #EFEFEF;
        width: 100%;

    }

    .six-page h2 {
        font-size: 26px;
        width: 100%;
        margin: 0px;

    }

    .six-page-first {
        margin-top: 20px;
        background-color: white;
        border-radius: 20px;
        width: 300px;
        padding: 8px;

    }

    .six-page-first-first {
        font-size: 10px;
        line-height: 15px;
    }

    #six-page-bg {
        background-color: #EFEFEF;
    }

    .six-page {
        padding: 20px 0px 20px 0px;
    }

    .six-page-second {
        display: flex;
        justify-content: flex-start;
    }

    .six-page-second-first img {
        width: 80px;
        height: 75px;
    }

    .six-page-second-second {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: 0px;
    }

    .six-page-second-second img {
        width: 14px;
        height: 13px;
        position: relative;
        top: -20px;
    }

    .six-page-second-second p {
        width: 200px;
        font-size: 14px;
        font-weight: 700;
    }

    .seventh-page {
        /* margin-top: 64px; */
        background-color: #9DC9C8;
        padding: 50px 0px 50px 0px;
        width: 100%;
    }

    .seventh-page-first h2 {
        font-size: 26px;
        width: 220px;
    }

    .seventh-page-second {
        margin-top: 26px;
        display: flex;
        flex-direction: column;
    }

    .seventh-page-second-p1 {
        font-size: 12px;
    }

    .seventh-page-second-p2 {
        font-size: 37px;
        width: 200px;
        /* position: relative;
        bottom: 10px; */
    }

    .seventh-page-third .ul5 {
        display: flex;
        justify-content: flex-start;
    }

    .seventh-page-third .li5 {
        list-style-type: none;
        list-style-position: inside;
        font-size: 10px;
        margin-right: 10%;
        margin-top: 15px;
    }

    .seventh-page-third .li5 .span5 {
        font-size: 12px;
        width: 200px;
    }

    .ninth-page {
        background-color: black;
        padding: 20px 0px 20px 0px;
        color: white;
        height: 200px;
        width: 100%;

    }

    .ninth-page-first {
        display: block;
        justify-content: space-between;
    }

    .ninth-page-first-first-first img {
        width: 50px;
        height: 30px;

    }

    .ninth-page-first-first-second {
        margin-top: 10px;
    }

    .ninth-page-first-first-second img {
        width: 15px;
        height: 15px;
    }

    .ninth-page-first-second-first {
        display: flex;
    }

    .ninth-page-first-second-second {
        display: flex;
        margin-top: 10%;

    }

    .ninth-page-first-second-first-phone-white {
        width: 15px;
        height: 15px;
    }

    .ninth-page-first-second-second-mail-white {
        width: 15px;
        height: 10px;
    }

    .ninth-page-first-second-first {
        margin-top: 10px;
    }

    .ninth-page-first-second-first p {
        font-size: 12px;
    }

    .ninth-page-first-second-second {
        position: relative;
        bottom: 20px;
    }

    .ninth-page-first-second-second p {
        font-size: 12px;

    }

    .ninth-page-second p {
        font-size: 9px;
        margin-top: 10px;
        /* position: relative;
        top: 30px */
    }
}

